/*===profile===========================*/
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/bg.png) top center;
    background-size: 100% 450px;
    background-repeat: no-repeat;
    padding-top: 20px;
    height: 450px;
}
.profile .profileFoto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}
.profile .profileFoto img{
    border-radius: 50%;
}
.profile .profileFoto .profileButtons button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 30px;
}
.profile .profileFoto .profileButtons button:hover{
    background-color: #C7DA2C;
}
.profile .profileCoach{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.profile .profileCoach p{
    margin: 0;
}
.profile .profileCoach .p1{
    font-size: 250%;
    color: #C7DA2C;
    font-weight: 400;
    margin-bottom: -10px;
}
.profile .profileCoach .p2{
    font-size: 250%;
    color: black;
    font-weight: 400;
}
.profile .profileCoach .profileCoachTxt{
    display: flex;
    flex-direction: column;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt1{
    display: flex;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt1 .profileCoachTxtbox1{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt1 .profileCoachTxtbox2{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2{
    display: flex;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2 .profileCoachTxtbox3{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2 .profileCoachTxtbox4{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2 .profileCoachTxtbox5{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .progress{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100px;
}
.profile .profileCoach .progress .progress1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.profile .profileCoach .progress .progress1 .progressCircle1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
}
.profile .profileCoach .progress .progress2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.profile .profileCoach .progress .progress2 .progressCircle2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
    margin-right: 15px;
}
.profile .profileCoach .progress .progress3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.profile .profileCoach .progress .progress3 .progressCircle3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
}
.profile .profileMap{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.profile .profileMap .profileMapInfo{
    display: flex;
    margin-right: -190px;
    margin-top: -70px;
    margin-bottom: 70px;
}
.profile .profileMap .profileMapInfo button{
    padding: 0 10px 0 10px;
    margin-left: 10px;
    border: none;
    background-color: #C7DA2C;
}
.profile .profileMap .profileMapInfo .iconinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
}