:root {
    /* Cores. */
    --cinza-01: #292c31;
    --cinza-02: #1e2024;
    --cinza-03: #C4C4C4;
    --cinza-04: #e0e0e0;
    --verde-seven: #c7da2c;
    --verde-01: #f6fbed;
}
.buttonSlidebar{
    display: none;
}
* {
    outline: none !important;
    margin: 0;
    padding: 0;
}
/*==headerBar======================================================*/
.headerBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cinza-01);
    font-weight: 500;
}
.headerButtons{
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: flex-end;
}
.headerButtons button{
    font-size: 70%;
    font-weight: 500;
    color: white;
    padding: 16px;
    border: none;
    background-color: transparent;
}
#sair{
    color: var(--cinza-03);
}
#sair:hover{
    color: var(--verde-seven);
}
.headerButtons a{
    color: var(--cinza-03);
    font-size: 70%;
    text-decoration: none;
}
.headerButtons button:hover{
    color: var(--verde-seven);
    transition: 0.5s;
}
/*==headerButtons=dropdown=========================================*/
.dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin: -10px 0 0 20px;
    border-radius: 0.2rem;
}
.dropdown-content a {
    color: black;
    padding: 20px 26px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    text-decoration: none;
    color: var(--verde-seven);
    transition: 0.5s;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn .fa-angle-down{
    width: 12px;
    color: white;
}
.dropbtn span{
    color: var(--verde-seven);
}
/*dropdown-content2*/
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin: -10px 0 0 0;
    border-radius: 0.2rem;
}
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a:hover {
    text-decoration: none;
    color: var(--verde-seven);
    transition: 0.5s;
}
.dropdown:hover .dropdown-content2 {
    display: block;
}
/*headerBody==================================================================*/
.headerBody{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cinza-02);
    color: white;
    height: 90px;
}
.headerBody .headerBodyBox{
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
    font-size: 70%;
}
.headerBody .headerBodyBox img{
    width: 520px;
    height: 520px;
    margin-top: 60px;
    z-index: 2;
}
.headerBody .headerBodyBox .HBboxBody{
    display: flex;
    height: 80px;
}
.headerBody .headerBodyBox .HBboxBody p{
    margin: 0;
}
.headerBody .headerBodyBox .HBboxBody .HBbox1Body{
    display: flex;
    align-items: center;
}
.headerBody .headerBodyBox .HBboxBody .HBbox1Body A{
    margin: -12px 0 0 4px;
    text-decoration: none;
    color: white;
}
.headerBody .headerBodyBox .HBboxBody .HBbox1Body A:hover{
    text-decoration: none;
    color: var(--verde-seven);
    transition: 0.5s;
}
.headerBody .headerBodyBox .HBboxBody .HBbox1Body .fa-user{
    width: 45px;
    height: 30px;
    color: var(--verde-seven);
}
.headerBody .headerBodyBox .HBboxBody .HBbox2Body{
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
}
.headerBody .headerBodyBox .HBboxBody .HBbox2Body .HBboxtxt p{
    margin-left: 10px;
}
.headerBody .headerBodyBox .HBboxBody .HBbox2Body .HBboxtxt p:nth-child(2){
    font-size: 80%;
}
.headerBody .headerBodyBox .HBboxBody .HBbox2Body .fa-envelope{
    width: 45px;
    height: 30px;
    color: var(--verde-seven);
}
.headerBody .headerBodyBox .HBboxBody .HBbox2Body .HBboxtxt{
    display: flex;
    flex-direction: column;
}
/*headerFooter================================================================*/
.headerFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cinza-02);
    flex-direction: column
}
.headerFooter .headerFooterBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
    margin-top: -60px;
}
.headerFooter .headerBGFoot{
    display: flex;
    background: url(img/img/bg_headerFooter.png) top center;
    background-size: 100%;
    width: 100%;
    height: 60px;
}
.headerFooter .headerFooterBox  a{
    text-decoration: none;
    color: white;
    font-size: 90%;
    font-weight: 600;
    padding: 20px 40px;
}
.headerFooter .headerFooterBox  .headerFooterBox2A:hover{
    background-color: #C7DA2C;
    transition: 0.5s;
}
.headerFooter .headerFooterBox  button{
    background-color: #C7DA2C;
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    margin-right: 30px;
}
.headerFooter .headerFooterBox  .buttonSideBar:hover{
    opacity: 0.7;
    transition: 0.5s;
}
.headerFooter .headerFooterBox  .dropdown3 button{
    width: 150px;
    background-color: transparent;
    font-weight: 500 !important;
    font-size: 90%;
}
.headerFooter .headerFooterBox  .dropdown3 button:hover{
    background-color: #C7DA2C;
    transition: 0.5s;
}
/*headerFooter=Dropdown=======================================================*/
.dropdown3 {
    position: relative;
    display: inline-block;
} 
.dropdown3 button{
    font-size: 70%;
    font-weight: 500;
    color: white;
    padding: 16px;
    border: none;
    background-color: transparent;
    outline: none;
}
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: var(--cinza-01);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    width: 240px;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    align-items: center;
}
.dropdown-content3 a {
    color: white !important;
    text-decoration: none;
    display: block;
    font-size: 80% !important;
    font-weight: 400;
}
.dropdown-content3 hr {
    background-color: white;
    margin: 0;
}
.dropdown-content3 a:hover {
    text-decoration: none;
    color: var(--verde-seven) !important;
    transition: 0.5s !important;
}
.dropdown3:hover .dropdown-content3 {
    display: block;
}
.dropbtn3 .fa-angle-down{
    width: 12px;
    color: white;
}

@media(max-width: 1300px){
    .headerButtons{
        width: 85%;
    }
    .headerBody .headerBodyBox{
        width: 85%;
    }
    .headerFooter .headerFooterBox{
        width: 85%;
    }
}
@media(max-width: 1200px){
    .headerBody .headerBodyBox img{
        margin-left: 80px;
    }
    .headerButtons{
        width: 99%;
    }
    .headerBody .headerBodyBox{
        width: 99%;
    }
    .headerFooter .headerFooterBox{
        width: 99%;
    }
    .headerFooter .headerBGFoot{
        background: url(img/img/bg_headerFooter.png) top center;
        background-size: 100% 80px;
        width: 100%;
        height: 60px;
    }
}
@media(max-width: 1023px){
    .headerButtons{
        display: none;
    }
    .headerBody{
        display: none;
    }
    .headerFooter{
        display: none;
    }
    .buttonSlidebar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background-color: var(--cinza-02);
        padding: 50px 30px;
        background: url(img/icon/seven-icon.svg) top center;
        background-repeat: no-repeat;
        background-position: 75% 0;
    }
    .fa-search{
        color: white;
        width: 30px !important;
        height: 30px;
    }
    .fa-bars{
        width: 30px !important;
        height: 30px;
    }
    .buttonSlidebar button{
        display: flex;
        background-color: transparent;
        border: none;
        color: white;
    }
    .buttonSlidebar img{
        margin-left: 180px; 
    }
}
@media(max-width: 550px){
    .buttonSlidebar{
        background-position: 90% 0;
    }
}
@media(max-width: 425px){
    .buttonSlidebar{
        background-position: 120% 0;
    }
}
@media(max-width: 375px){
    .buttonSlidebar{
        background-position: 140% 0;
    }
}
/*===footer=================================================================*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    background-color: #1d1f20;
}
.footer .linha{
    background-color: rgb(109, 108, 108);
    width: 65%;
    height: 1px;
}
.footer .footerBody1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
.footer .footerBody1 .footerBody1Social_links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
}
.footer .footerBody1 .footerBody1Social_links img{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.footer .footerBody1 .footerBody1Box1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}
.footer .footerBody1 .footerBody1Box1 .footerBody1Txt{
    display: flex;
    flex-direction: column;
    height: 140px;
    margin: 30px 0 20px 0;
    font-size: 80%;
    font-weight: 500;
}
.footer .footerBody1 .footerBody1Box1 .footerBody1Txt p:nth-child(2){
    opacity: 0.5;
}
.footer .footerBody1 .footerBody1Box1 .footerBody1Txt p:nth-child(3){
    opacity: 0.5;
}
.footer .footerBody2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1f20;
    padding: 40px 0 30px 0;
    width: 65%;
}
.footer .footerBody2 .footerBody2Box1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footerBody2 .footerBody2Box1 .footerBody2Logos1 img{
    margin: 20px 35px 20px 35px;
    opacity: 0.5;
}
.footer .footerBody2 p{
    margin: 0 35px 0 35px;
    font-size: 90%;
    font-weight: 500;
}
@media(max-width: 1580px){
    .footer .footerBody2 .footerBody2Box1 .footerBody2Logos1 img{
        margin: 20px 25px 20px 25px;
    }
}

@media(max-width: 1425px){
    .footer .footerBody2 .footerBody2Box1 .footerBody2Logos1 img{
        margin: 20px 10px 20px 10px;
    }
}
@media(max-width: 920px){
    .footer .footerBody2{
        flex-direction: column;
    }
}
@media(max-width: 670px){
    .footer .footerBody2 .footerBody2Box1{
        flex-direction: column;
    }
}

@media(max-width: 385px){
    .footer .footerBody2 .footerBody2Box1{
        width: 110%;
    }
}
.footer .footerBody3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121213;
    width: 100%;
}
.footer .footerBody3 .footerBody3Box{
    display: flex;
    align-items: center;
    width: 65%;
}
.footer .footerBody3 .footerBody3Box p{
    font-size: 70%;
    font-weight: 500;
    opacity: 0.5;
    margin: 25px 0 25px 0;
}
.footer .footerBody3 .footerBody3Box span{
    margin: 0 10px 0 10px;
}
@media(max-width: 1300px){
    .footer .footerBody1{
        width: 85%;
    }
    .footer .footerBody2{
        width: 85%;
    }
    .footer .footerBody3 .footerBody3Box{
        width: 85%;
    }
}
@media(max-width: 550px){
    .footer .footerBody1{
        width: 90%;
    }
}
@media(max-width: 424px){
    .footer .footerBody1{
        width: 98%;
    }
    .footer .footerBody1 .footerBody1Box1 .footerBody1Txt{
        font-size: 70%;
    }
    .footer .footerBody1 .footerBody1Box1{
        width: 300px;
    }
    .footer .footerBody1 .footerBody1Social_links{
        margin-right: 10px;
    }
}











/*===slidebar config===*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/*sidebarHeader*/
.sidebarHeader .sidebar-header{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sidebarHeader .sidebar-header img{
    margin-right: -230px;
}
.sidebarHeader .sidebarHeaderBox1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_validacoes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_validacoes .SHB_V1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_validacoes .SHB_V1 p:nth-child(1){
    color: black;
    font-size: 70%;
    padding: 3px 10px 3px 10px;
    background-color: var(--verde-seven);
    margin: 20px 10px 10px 10px;
    border-radius: 0.2rem;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_validacoes .SHB_V1 p:nth-child(2){
    font-size: 250%;
}


.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_progressBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_progressBar p{
    margin: 0.5px 0 0 10px;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_progressBar .SHB_pB1{
    display: flex;
    background-color: var(--verde-seven);
    height: 10px;
    width: 70%;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.sidebarHeader .sidebarHeaderBox1 .sidebarHeaderBox1_progressBar .SHB_pB2{
    display: flex;
    background-color: #C4C4C4;
    height: 10px;
    width: 30%;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
/*=======sidebarBody1=========*/
#sidebar hr{
    background-color: #9b9797;
    width: 90%;
    margin-left: 10px;
}
.sidebarBody{
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px 20px;
}
.sidebarBody a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.sidebarBody a:hover{
    text-decoration: none;
    color: var(--verde-seven);
    transition: 0.5s;
}
.sidebarBody .sidebarBodyBox{
    display: flex;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}
.sidebarBody .sidebarBodyBox a{
    margin-bottom: -4px;
    margin-left: 6px;
}
.sidebarBody .sidebarBodyBox img{
    width: 25px;
}
/*================*/
#sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: fixed;
    top: 0;
    left: -160vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--cinza-01);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
@media(max-width: 425px){
    #sidebar{
        width: 350px;
    }
}
@media(max-width: 375px){
    #sidebar{
        width: 300px;
    }
    .SHB_V1{
        font-size: 80%;
    }
}



#sidebar .slideBody a{
    text-decoration: none;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--verde-seven);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0.2rem;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-top: -30px;
}
.overlay.active {
    display: block;
    opacity: 1;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
/*===========================================================================*/
/*===pagina HOME=============================================================*/
/*===========================================================================*/
/*===headerBar===*/
.buttonSlidebar-PGhome{
    display: none;
}
.headerBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-01);
    width: 100%;
}
.headerBar .headerBarBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    width: 65%;
}
.headerBar .headerBarBox a{
    color: white;
    font-size: 70%;
    text-decoration: none;
    margin-right: 10px;
}
.headerBar .headerBarBox a:hover{
    color: var(--verde-seven);
    text-decoration: none;
    transition: 0.5s;
}
.headerBar .headerBarBox span{
    color: white;
    font-size: 70%;
    margin-right: 15px;
}
.headerBar .headerBarBox h5{
    color: var(--verde-seven);
    margin: 0 10px 1px -2px;
    font-size: 100%;
}
.headerBar .headerBarBox span{
    opacity: 0.5;
}/*===Dropdown do side bar pg Home=========================================*/
.dropdown-PGhome {
    position: relative;
    display: inline-block;
}
.dropdown-PGhome button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 70%;
    font-weight: 500;
}
.dropdown-PGhome .dropbtn-PGhome{
    font-size: 110%;
}
.dropdown-PGhome .dropbtn-PGhome h5{
    margin: 1px 5px 0 5px;
    color: #C7DA2C;
}
.dropdown-PGhome .dropbtn-PGhome .fa-angle-down{
    margin-right: 5px;
}
.dropdown-content-PGhome {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin: -1px 0 0 100px;
    border-radius: 0.2rem;
}
.dropdown-content-PGhome a{
    color: black !important;
    padding: 0 10px 15px 10px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 70% !important;
}
.dropdown-content-PGhome a:hover {
    text-decoration: none;
    color: var(--verde-seven) !important;
    transition: 0.5s;
}
.dropdown-PGhome:hover .dropdown-content-PGhome {
    display: block;
}
.dropbtn-PGhome .fa-angle-down{
    width: 12px;
    color: white;
}
.dropbtn-PGhome span{
    color: var(--verde-seven);
}
/*dropDown-Home*/
.dropdown-home {
    position: relative;
    display: inline-block;
}
.dropdown-home button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 70%;
    font-weight: 500;
}
.dropdown-home .dropbtn-home h5{
    margin-left: 5px;
}
.dropdown-home .dropbtn-home .fa-angle-down{
    margin-right: 5px;
}
.dropdown-content-home {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin: -1px 0 0 18px;
    border-radius: 0.2rem;
}
.dropdown-content-home a{
    color: black !important;
    padding: 20px 26px;
    text-decoration: none;
    display: block;
    font-weight: 600;
}
.dropdown-content-home a:hover {
    text-decoration: none;
    color: var(--verde-seven) !important;
    transition: 0.5s;
}
.dropdown-home:hover .dropdown-content-home {
    display: block;
}
.dropbtn-home .fa-angle-down{
    width: 12px;
    color: white;
}
.dropbtn-home span{
    color: var(--verde-seven);
}
/*===headerBG===*/
.headerBG{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: url(img/images/page-heading_old.jpg) top center;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
.headerBG .headerBGLogo img{
    width: 200px;
    margin-left: 150px;
    margin-top: 40px;
}
.headerBG .headerBGLogin{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 800px;
    margin: 40px 150px 40px 0;
}
.headerBG .headerBGLogin button:nth-child(1){
    border: none;
    padding: 12px 0 12px 0;
    width: 130PX;
    background-color: var(--verde-seven);
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
    font-size: 80%;
    float: right;
}
.headerBG .headerBGLogin button:nth-child(1):hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}
.headerBG .headerBGLogin button:nth-child(5){
    border: none;
    padding: 12px 0 12px 0;
    width: 230px;
    background-color: var(--verde-seven);
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
    font-size: 80%;
    margin-top: 40px;
}
.headerBG .headerBGLogin button:nth-child(5):hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}
.headerBG .headerBGLogin p{
    margin: 0;
}
.headerBG .headerBGLogin p:nth-child(2){
    font-size: 400%;
    font-weight: 700;
    color: var(--verde-seven);
    margin-right: 90px;
}
.headerBG .headerBGLogin p:nth-child(3){
    font-size: 400%;
    font-weight: 700;
    color: var(--verde-seven);
    margin-top: -15px;
}
.headerBG .headerBGLogin p:nth-child(4){
    font-size: 400%;
    font-weight: 700;
    color: var(--verde-01);
    margin-top: -15px;
}
@media(max-width: 1550px){
    .headerBG{
        justify-content: center;
    }
    .headerBG .headerBGLogo img{
        margin: 40px 30px 0 10px;
    }
    .headerBG .headerBGLogin{
        margin: 40px 10px 40px 20px;
    }
}
@media(max-width: 1023px){
    .buttonSlidebar-PGhome{
        display: flex;
        justify-content: flex-end;
        margin: 20px 30px 0 0;
    }
    .buttonSlidebar-PGhome button{
        display: flex;
        background-color: transparent;
        border: none;
        color: white;
    }
    .header_logo-PGhome{
        margin: 20px 0 20px 20px !important;
    }
    .headerBG .headerBGLogin button{
        display: none;
    }
    .headerBG{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
    }
    .headerBG .headerBGLogin p{
        font-size: 300% !important;
    }
    .headerBG .headerBGLogin{
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    .headerBG .headerBGLogo img{
        width: 100px;
    }
    .headerBar .headerBarBox{
        display: none;
    }
}
/*===sideBar-PGhome===corpo do side bar PGhome*/
#sidebar-PGhome .sidebarBody-PGhome{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#sidebar-PGhome .sidebarBody-PGhome a{
    color: white;
    margin-top: 20px;
    font-size: 110%;
    font-weight: 500;
}
#sidebar-PGhome .sidebarBody-PGhome a:hover{
    color: var(--verde-seven);
    text-decoration: none;
}
#sidebar-PGhome .sidebarBody-PGhome .BTSidLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-seven);
    border: none;
    border-radius: 0.2rem;
    height: 40px;
    width: 90px;
    font-size: 80%;
    font-weight: 500;
    margin-top: 20px;
}
#sidebar-PGhome .sidebarBody-PGhome .BTSidCad{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-seven);
    border: none;
    border-radius: 0.2rem;
    height: 40px;
    width: 150px;
    font-size: 80%;
    font-weight: 500;
    margin-top: 20px;
}
#sidebar-PGhome .sidebarBody-PGhome .BTSidCad:hover{
    opacity: 0.8;
    cursor: pointer;
}
#sidebar-PGhome .sidebarBody-PGhome .BTSidLogin:hover{
    opacity: 0.8;
    cursor: pointer;
}
/*===sideBar-PGhome===*/
#sidebar-PGhome {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: fixed;
    top: 0;
    left: -160vw;
    height: 100vh;
    z-index: 999;
    background-color: var(--cinza-01);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar-PGhome .slideBody-PGhome a{
    text-decoration: none;
}

#sidebar-PGhome.active {
    left: 0;
}

#dismiss-PGhome {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--verde-seven);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0.2rem;
}

#dismiss-PGhome:hover {
    background: #fff;
    color: #7386D5;
}

.overlay-PGhome {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-top: -30px;
}
.overlay-PGhome.active {
    display: block;
    opacity: 1;
}
.dropdown-toggle-PGhome::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content-PGhome {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
/*PGhome-SEVENID123*/
.PGhome-SEVENID123-BG{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--cinza-01);
}
.PGhome-SEVENID123-BG .PGhome-SEVENID123-box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 60%;
    text-align: center;
}
.PGhome-SEVENID123-BG .PGhome-SEVENID123-box1 p:nth-child(1){
    font-size: 160%;
    color: white;
    font-weight: 700;
}
.PGhome-SEVENID123-BG .PGhome-SEVENID123-box1 p:nth-child(2){
    color: white;
    opacity: 0.6;
    font-weight: 100;
}
.PGhome-SEVENID123-BG .PGhome-SEVENID123-box1 span{
    color: var(--verde-seven);
}
.PGhome-SEVENID123-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 30px;
}
.PGhome-SEVENID123-box2 .PGhome-SID123{
    display: flex;
    justify-content: center;
    width: 33.3%;
}
.PGhome-SEVENID123-box2 .PGhome-SID123 .PGhome-SID123b1 p{
    font-size: 900%;
    font-weight: 700;
    color: var(--verde-seven);
    height: 310px;
}
.PGhome-SEVENID123-box2 .PGhome-SID123 .PGhome-SID123b2{
    display: flex;
    flex-direction: column;
    color: white;
    height: 310px;
}
.PGhome-SEVENID123-box2 .PGhome-SID123 .PGhome-SID123b2 p:nth-child(1){
    color: white;
    font-size: 160%;
    font-weight: 700;
}
.PGhome-SEVENID123-box2 .PGhome-SID123 .PGhome-SID123b2 p:nth-child(2){
    opacity: 0.6;
    font-weight: 100;
}
.PGhome-SEVENID123-box2 .PGhome-SID123 .PGhome-SID123b2 p:nth-child(3){
    opacity: 0.6;
    font-weight: 100;
}
@media(max-width: 1600px){
    .PGhome-SEVENID123-box2{
        width: 80%;
    }
    .PGhome-SEVENID123-BG .PGhome-SEVENID123-box1{
        width: 80%;
    }
}
@media(max-width: 1200px){
    .PGhome-SEVENID123-box2{
        width: 90%;
    }
    .PGhome-SEVENID123-BG .PGhome-SEVENID123-box1{
        width: 90%;
    }
    .PGhome-SID123{
        height: 400px;
    }
}
@media(max-width: 940px){
    .PGhome-SID123{
        height: 500px;
    }
}
@media(max-width: 768px){
    .PGhome-SEVENID123-box2{
        flex-direction: column;
    }
    .PGhome-SID123{
        width: 100% !important;
        height: 200px;
    }
    .PGhome-SEVENID123-BG .PGhome-SEVENID123-box1{
        margin-bottom: 40px;
    }

}
@media(max-width: 625px){
    .headerBGLogin{
        font-size: 60%;
    }
    .PGhome-SID123b2{
        font-size: 80%;
    }
}
@media(max-width: 424px){
    .headerBGLogin{
        font-size: 50%;
    }
    
    .PGhome-SID123{
        width: 100% !important;
        height: 230px;
    }
}


@media(max-width: 425px){
    #sidebar-PGhome{
        width: 350px;
    }
}
@media(max-width: 375px){
    #sidebar-PGhome{
        width: 300px;
    }
}
/*====jornada================================================================*/
.jornada{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.jornada .jornadaBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    text-align: center;
}
.jornada .jornadaBox p{
    color: black;
    font-size: 90%;
    margin-bottom: 30px;
}
.jornada .jornadaBox p:nth-child(1){
    font-size: 200%;
    font-weight: 700;
    color: var(--verde-seven);
    margin-top: 40px;
}
.jornada .jornadaBox button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-seven);
    border: none;
    margin-bottom: 60px;
    border-radius: 0.2rem;
    height: 40px;
    width: 200px;
    font-size: 80%;
    font-weight: 600;
    color: white;
}
@media(max-width: 424px){
    .jornada .jornadaBox{
        width: 90%;
    }
}
/*===O que oferecemos=======================================================*/
.oferecemos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-seven);
}
.oferecemos .oferecemosBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    width: 65%;
    text-align: center;
}
.oferecemos .oferecemosBox button{
    border: none;
    padding: 12px 35px;
    background-color: #918d8d;
    border-radius: 0.2rem;
    font-size: 80%;
    font-weight: 600;
    margin-bottom: 30px;
    color: white;
}
.oferecemos .oferecemosBox p:nth-child(1){
    font-size: 150%;
    font-weight: 700;
    margin-top: 20px;
}
.oferecemos .oferecemosBox p:nth-child(4){
    font-size: 150%;
    font-weight: 700;
}
.oferecemos .oferecemosBox img{
    width: 70px;
}
.oferecemos .oferecemosBox .oferecemosBox1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.oferecemos .oferecemosBox .oferecemosBox1 .FERRAMENTAS{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 5px;
    width: 33%;
    height: 350px;
}
.oferecemos .oferecemosBox .oferecemosBox1 .FERRAMENTAS p:nth-child(2){
    font-size: 150%;
    font-weight: 700;
    margin-top: 5px;
}
.oferecemos .oferecemosBox .oferecemosBox1 .CURSO{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 5px;
    width: 33%;
    height: 350px;
}
.oferecemos .oferecemosBox .oferecemosBox1 .CURSO p:nth-child(2){
    font-size: 150%;
    font-weight: 700;
    margin-top: 5px;
}
.oferecemos .oferecemosBox .oferecemosBox1 .ASSESSORIA{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 5px;
    width: 33%;
    height: 350px;
}
.oferecemos .oferecemosBox .oferecemosBox1 .ASSESSORIA p:nth-child(2){
    font-size: 150%;
    font-weight: 700;
    margin-top: 5px;
}
@media(max-width: 1040px){
    .oferecemos .oferecemosBox{
        width: 80%;
    }
}
@media(max-width: 850px){
    .oferecemos .oferecemosBox{
        width: 90%;
    }
}
@media(max-width: 765px){
    .oferecemos .oferecemosBox1{
        flex-direction: column;
    }
    .oferecemos .oferecemosBox .oferecemosBox1 .FERRAMENTAS{
        width: 90%;
        height: 250px;
    }
    .oferecemos .oferecemosBox .oferecemosBox1 .CURSO{
        width: 90%;
        height: 250px;
    }
    .oferecemos .oferecemosBox .oferecemosBox1 .ASSESSORIA{
        width: 90%;
        height: 250px;
    }
}
@media(max-width: 450px){
    .oferecemos .oferecemosBox1{
        flex-direction: column;
    }
    .oferecemos .oferecemosBox .oferecemosBox1 .FERRAMENTAS{
        width: 95%;
        height: 300px;
    }
    .oferecemos .oferecemosBox .oferecemosBox1 .CURSO{
        width: 95%;
        height: 300px;
    }
    .oferecemos .oferecemosBox .oferecemosBox1 .ASSESSORIA{
        width: 95%;
        height: 300px;
    }
}
/*===footerPerfil===========================================================*/
.footerPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f1eded;
}
.footerPerfil .footerPerfilBox{
    display: flex;
    justify-content: center;
    width: 65%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.footerPerfil .footerPerfilBox img:nth-child(1){
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-right: 30px;
}
.footerPerfil .footerPerfilBox .footerPerfilBoxTxt{
    width: 40%;
    color: black;
}
.footerPerfil .footerPerfilBox .footerPerfilBoxTxt p:nth-child(2){
    font-weight: 800;
    color: var(--verde-seven);
    text-align: right;
}
.footerPerfil .footerPerfilBox img:nth-child(2){
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
@media(max-width: 765px){
    .footerPerfil .footerPerfilBox{
        width: 85%;
    }
}
@media(max-width: 545px){
    .footerPerfil .footerPerfilBox{
        flex-direction: column;
        align-items: center;
    }
    .footerPerfil .footerPerfilBox .footerPerfilBoxTxt{
        width: 85%;
    }
    .footerPerfil .footerPerfilBox img:nth-child(2){
        margin-left: -280px;
    }
}
/*==========================================================================*/
/*===Modal login============================================================*/
.modal-content-box{
    display: flex;
}
.PGhome-loginCad{
    display: none;
}
/*==========================================*/
.modal-content-box .PGhome-logoImg{
    display: flex;
    align-items: flex-end;
    background: url(img/img/login.jpg) top center;
    background-size: 100% 140%;
    width: 400px;
    height: 400px;
}
.modal-content-box .PGhome-logoImg p{
    margin: 0 20px 20px 20px;
    font-weight: 600;
    color: white;
}
.modal-content-box .PGhome-logoImg a{
    text-decoration: none;
    color: #c7da2c;
}
.modal-content-box .PGhome-logoImg a:hover{
    text-decoration: none;
    transition: 0.5s;
    color: #9ea56a;
    font-weight: 700;
}
.modal-content-box .PGhome-login form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: var(--cinza-01);
    padding: 40px 30px;
    color: white;
}
.modal-content-box .PGhome-login label:nth-child(1){
    font-size: 110%;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
.modal-content-box .PGhome-login input{
    background-color: #373a3d;
    border: none;
    color: white;
    padding: 20px 25px;
    margin-bottom: 20px;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 0.2rem #616060;
}
.modal-content-box .PGhome-login span{
    color: var(--verde-seven);
}
.modal-content-box .PGhome-login a{
    text-decoration: none;
    color: #9b9797;
}
.modal-content-box .PGhome-login a:hover{
    font-weight: 500;
    color: #6d833c;
    transition: 0.5s;
}
.modal-content-box .PGhome-login button{
    margin-top: 20px;
    padding: 20px 0 20px 0;
    border: none;
    border-radius: 0.1rem;
    background-color: var(--verde-seven);
    color: white;
    font-weight: 700;
    font-size: 80%;
}
.modal-content-box .PGhome-login button:hover{
    cursor: pointer;
}
.lembrarsenha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lembrarsenha input{
    margin-top: 20px;
}
.lembrarsenha label{
    font-size: 100%;
    font-weight: 600;
    margin-left: 6px;
    margin-top: 8px;
}
@media(max-width: 1020px){
    .modal-content-box .PGhome-logoImg{
        display: none;
    }
    .modal-content-box .PGhome-login form{
        width: 100%;
    }
    .modal-content-box .PGhome-login{
        width: 100%;
    }
    /*cadastre-se button*/
    .PGhome-loginCad{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 12px 0 12px 0;
        background-color: var(--verde-seven);
        border-radius: 0.2rem;
        color: white;
        font-weight: 600;
        font-size: 90%;
        margin-top: 40px;
    }
    .PGhome-loginCad:hover{
        opacity: 0.5;
        transition: 0.5s;
        cursor: pointer;
    }
    .modal-content-box .PGhome-login form{
        height: 500px;
    }
}
@media(max-width: 585px){
    .modal-content-box .PGhome-login{
        width: 100%;
    }
}
@media(max-width: 425px){
    .modal-content-box .PGhome-login form{
        padding: 40px 10px;
    }
}
/*=============================================================================
===Area do atleta headerBG====================================================*/
.areaAtletaBG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background: url(img/img/areaAtleta.jpg) top center;
    background-size: 100% 400px;
}
.areaAtletaBG p{
    font-size: 200%;
    font-weight: 700;
    color: black;
}
/*===abas_links===*/
.abas_linksBG{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza-02);
    width: 100%;
}
.abas_linksBG .abas_links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}
.abas_linksBG .abas_links .abas_linksBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    color: white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    text-align: center;
    background-color: var(--cinza-01);
}
.abas_linksBG .abas_links .abas_linksBox a{
    color: white;
    text-decoration: none;
    margin: 0;
    font-size: 85%;
    font-weight: 700;
}
.abas_linksBG .abas_links .abas_linksBox a:hover{
    color: var(--verde-seven);
    transition: 0.5s;
}
.abas_linksBG .abas_links #abas_linksBox a:hover{
    color: var(--cinza-02);
    transition: 1s;
}
/*===linksBody================================================================*/
.linksBody{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4C4C4;
}
.linksBody .linksBodyBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
}
.linksBody .linksBodyBox .linksBodyBox1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 100%;
    height: 70px;
    margin: 40px 0 20px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.2rem;
    border-left: solid 5px var(--verde-seven);
}
.linksBody .linksBodyBox .linksBodyBox1 p{
    font-size: 80%;
    font-weight: 700;
    margin: 0 0 0 20px;
    opacity: 0.8;
}
.linksBody .linksBodyBox .linksBodyBox1 .linksBodyBox1_btn{
    margin-right: 60px;
}
.linksBody .linksBodyBox .linksBodyBox1 .linksBodyBox1_btn button{
    border: none;
    background-color: transparent;
    margin-right: 10px;
    font-size: 80%;
    font-weight: 700;
    margin: 0 0 0 20px;
    opacity: 0.8;
    cursor: pointer;
}
.linksBody .linksBodyBox .linksBodyBox2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    width: 100%;
    margin: 20px 0 20px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.2rem;
    overflow: hidden;
}
.linksBody .linksBodyBox .linksBodyBox2 img{
    width: 180px;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Txt{
    width: 60%;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Txt p:nth-child(1){
    font-size: 90%;
    opacity: 0.6;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Txt a{
    font-size: 130%;
    color: black;
    font-weight: 700;
    opacity: 0.8;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Txt a:hover{
    text-decoration: none;
    color: var(--verde-seven);
    transition: 0.5s;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Txt p:nth-child(3){
    font-size: 90%;
    opacity: 0.6;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Progress{
    width: 20%;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Progress p{
    font-size: 80%;
    font-weight: 700;
    color: black;
    opacity: 0.5;
}
.linksBody .linksBodyBox .linksBodyBox2 .linksBodyBox2Progress .progressCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 6px var(--verde-seven);
    width: 60px;
    height: 60px;
    margin: 0 0 10px 10px;
}
/*===homeEnglish============================================================*/
.english_headerBG{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: url(img/images/page-heading_old.jpg) top center;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
.english_headerBG .english_headerBGLogo img{
    width: 200px;
    margin-left: 150px;
    margin-top: 40px;
}
.english_headerBGLogin{
    display: flex;
    align-items: flex-end;
    text-align: right;
    flex-direction: column;
    width: 700px;
    margin: 40px 150px 40px 0;
}
.english_headerBGLogin button{
    border: none;
    padding: 12px 0 12px 0;
    width: 230px;
    background-color: var(--verde-seven);
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
    font-size: 80%;
    margin-top: 40px;
}
.english_headerBGLogin button:hover{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}
.english_headerBGLogin p{
    margin: 0;
}
.english_headerBGLogin p:nth-child(1){
    font-size: 400%;
    font-weight: 700;
    color: var(--verde-seven);
}
.english_headerBGLogin p:nth-child(2){
    font-size: 400%;
    font-weight: 700;
    color: var(--verde-seven);
    margin-top: -20px;
}
.english_headerBGLogin p:nth-child(3){
    font-size: 400%;
    font-weight: 700;
    color: var(--verde-seven);
    margin-top: -20px;
}
.english_headerBGLogin p:nth-child(4){
    color: white;
    font-size: 150%;
    font-weight: 600;
}
@media(max-width: 1070px){
    .english_headerBG{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
    }
    .english_headerBGLogin{
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 500px;
        margin: 10px 0 15px 0;
        font-size: 70%;
    }
    .english_headerBG .english_headerBGLogo img{
        width: 80px;
        margin: 70px 0 0 15px;
    }
    .english_headerBGLogin button{
        margin-top: 15px;
        font-size: 100%;
    }
}
@media(max-width: 999px){
    .english_headerBG .english_headerBGLogo img{
        margin-top: 30px;
    }
}
@media(max-width: 530px){
    .english_headerBGLogin{
        width: 95%;
        font-size: 60%;
    }
    .english_headerBG .english_headerBGLogo img{
        width: 70px;
    }
    .english_headerBGLogin button{
        margin-top: 15px;
        font-size: 100%;
    }
}
/*===GET STARTED============================================================*/
.started{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.started p:nth-child(1){
    font-size: 150%;
    font-weight: 700;
    color: black;
    margin-top: 50px;
    margin-bottom: 4px;
    opacity: 0.9;
}
.started p:nth-child(2){
    color: black;
    opacity: 0.6;
}
.started button{
    color: white;
    background-color: var(--verde-seven);
    padding: 10px 40px;
    border-radius: 0.2rem;
    margin-bottom: 70px;
    margin-top: 10px;
    border: none;
    font-size: 80%;
    font-weight: 600;
}
@media(max-width: 424px){
    .started p:nth-child(2){
        font-size: 90%;
    }
}
/*===WHAT WE DO=============================================================*/
.whatwedo{

}